body{
    background: #e6d48d;
}
.container{
    margin: 0 auto;
    width: 960px;
}
#code{
    color: wheat;
    background: #4d462b;
    width: 90%;
    height: 128px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: 1px solid #dfd2a4;
}
.btn{
    margin: 10px auto;
    display: block;
    padding: 14px;
    width: 220px;
    background: white;
    border: none;
}
.help{
    text-align: center;
}
#console-log-div{
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    display: flex;
    flex-direction: column-reverse;
    height: 220px;
    overflow-y: scroll;
    padding: 5px 10px;
    color: white;
    background: black;
}