html{
  background: #e6d48d;
  font-family: Helvetica, Arial, Sans-Serif !important;
}

.character-image {
  height: 150px;
}

a:hover {
  text-decoration: none;
}

.level, .skin, .modal {
  background: #dfd2a4;
  border: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
}
.level:hover, .skin:hover, .active {
  background: #ecdeae !important;
}

button {
  border: 0.5px solid rgb(145, 145, 145) !important;
}

#code{
  color: wheat;
  background: #4d462b;
  border: 1px solid #dfd2a4;
  font-size: 15px;
}

#console-log-div{
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  overflow-y: scroll;
  color: white;
  background: black;
}
